
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}

body { 
    font-family: Test Founders Grotesk Cnd Medium;
}


/*------------Encabezado-----------*/

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background: radial-gradient(#fff,#C09C8D);
}
nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    text-decoration: none;
    color: #565555
}


   .header-txt {
    flex-basis: 50%;
    margin-right: 25px;
   }

   span {
    color: #c08552;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-bottom: 25px;
   }

/*------------Nosotros-----------*/
   .nosotros-content h1 {
    font-size: 70px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1;
    color: #c08552;
    margin-bottom: 35px;
    margin-top: 35px;
   }

   .nosotros-content p {
    font-size: 20px;
    text-align: justify;
    color: #565555;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
   }

   .imagen {
    display: flex;
    justify-content: center;
   }

 .nawat {
    font-family: cursive;
    color: #c08552;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 2px;
    text-shadow: 2px 2px 5px  #000000;
 }
  
.border {
    border: 100px dashed #c08552;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/*------------FAQ-----------*/


.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem  auto;
}

accordion-item {
    background-color: #f4f4f4;
    color: #565555;
    margin: 1rem  0;
    border-radius: 0.5rem;
    box-shadow: 0 2px  5px 0 rgb(0,0,0,0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem  0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
 
.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-item-header.active + .accordion-item-body {
    max-height: 1000px;
}



/*------------Servicio al cliente-----------*/


.servicio-content h2 {
    font-size: 60px;
    text-align: center;
    text-transform: initial;
    line-height: 1;
    color:#c08552;
    margin-top: 35px;
}

.servicio {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:#c08552;
    text-align: center;
}

.box-container {
    margin-top: 55px;
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    border-top: 2px solid #895737;
    border-bottom: 2px solid #895737;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}


.imagenes {
    justify-content: center;
    display: flex;
}

.texto h3{
    font-size: 25px;
    color: #000000;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}

h5{
    font-size: 30px;
}

/*------------footer-----------*/
.footer{
    background: radial-gradient(#fff,#C09C8D);
    color: #555;
    font-size: 14px;
    padding: 60px 0 20px;

 }

 .footer p{
    color: #555;
    text-align: justify;
 }

 footer h3{
    color: #404040;
    margin-bottom: 20px;

 }

 .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
 }

 .footer-col-1{
    flex-basis: 30%;
 }

 .footer-col-2{
    flex: 1;
    text-align: center;
 }

 .footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
 }
 
 .footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
 }

 ul{
    list-style-type:none ;
 }

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright p{
    text-align: center
}

/*------------Pagina Politica-de-envio-----------*/

parrafo-content h1, h3, h4 {

    text-align: center;
    text-transform: capitalize;
    line-height: 1;
    color: #c08552;
    margin-bottom: 35px;
   }

   .parrafo-content p {
    font-size: 20px;
    text-align: justify;
    color: #565555;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
   }

   .box{
    border: 5px dashed #c08552;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
   }

/*------------Pagina Politica-de-privacidad-----------*/

   .parrafo1-content p {
    font-size: 20px;
    text-align: justify;
    color: #565555;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
   }

   .box1{
    border: 5px dashed #c08552;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
   }


   /*------------Pagina Politica-de-reembolso-----------*/

   
   
   .parrafo2-content p {
    font-size: 20px;
    text-align: justify;
    color: #565555;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
   }

   .box2{
    border: 5px dashed #c08552;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
   }

   /*------------Pagina Politica-de-servicio-----------*/


   .parrafo3-content p {
    font-size: 20px;
    text-align: justify;
    color: #565555;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
   }

   .box3{
    border: 5px dashed #c08552;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
   }
