*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* body{
    font-family: 'Poppins', sans-serif;
} */

.header{
    background: radial-gradient(#fff,#C09C8D);
    overflow: hidden;
    display: flex;
}

.header .row {
    margin-top: 70px;
}

.contenedor .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

.contenedor.navbar .logo{
    display: flex;
    justify-content: center;
}

.contenedor .navbar .carrito{
    display: flex;
    justify-content: left;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}


.contenedor{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.contenedor .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.columna-2{
    flex-basis: 50%;
    min-width: 300px;
}

.columna-2 img{
    max-width: 100%;
    padding: 50px;
}

.columna-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.contenedor.columna-2 .btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s ;
}

.contenedor .columna-2 .btn:hover{
    background:#563434 ;
}


.header{
    background: radial-gradient(#fff,#C09C8D);
}

.header .row {
    margin-top: 70px;
}

.categories{
    margin: 50 px;

}
.columna-3 {
    flex-basis: 20%;
    min-width: 250px;
    margin-bottom: 30px;
}

.columna-3 img {
    width: 100% ;
}

.small-contenedor{
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.columna-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.columna-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;    
}

.columna-4 p{
    font-size: 14px;
}

.rating .bi{
    color: #ff523b;

}

.columna-4:hover{
    transform: translateY(-5px);
}

/*------------offer-----------*/

.offer{
    background: radial-gradient(#fff,#C09C8D);
    margin-top: 70px;
    padding: 30px 0;
}



.columna-2 .offer-img{
    padding:  50px;

}

small{
    color: #555;
}

/*------------testimonial-----------*/
.testimonial{
    padding-top: 100px;   
}



.testimonial .columna-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .columna-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .columna-3:hover{
    transform: translateY(-10px);
}

.bi .bi-quote {
    font-size: 34px;
    color: #ff523b;
}

 .columna-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
 }

 .testimonial .columna-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
 }

 /*------------FAQ-----------*/


.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem  auto;
}

accordion-item {
    background-color: #f4f4f4;
    color: #565555;
    margin: 1rem  0;
    border-radius: 0.5rem;
    box-shadow: 0 2px  5px 0 rgb(0,0,0,0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem  0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
 
.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-item-header.active + .accordion-item-body {
    max-height: 1000px;
}



 
/*------------testimonial-----------*/

 .brands {
    margin: 100px auto;
 }

 .small-contenedor .columna-5{
    width: 160px;
 }

 .small-contenedor .columna-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
 }

 .small-contenedor .columna-5 img:hover{
    filter: grayscale(0);
 }


 .footer{
    background-color: #F1EAE4;
    color: #555;
    font-size: 14px;
    padding: 60px 0 20px;

 }

 .footer p{
    color: #555;
 }

 footer h3{
    color: #404040;
    margin-bottom: 20px;

 }

 .footer-columna-1, .footer-columna-2, .footer-columna-3, .footer-columna-4{
    min-width: 250px;
    margin-bottom: 20px;
 }

 .footer-columna-1{
    flex-basis: 30%;
 }

 .footer-columna-2{
    flex: 1;
    text-align: center;
 }

 .footer-columna-2 img{
    width: 180px;
    margin-bottom: 20px;
 }
 
 .footer-columna-3, .footer-columna-4{
    flex-basis: 12%;
    text-align: center;
 }

 ul{
    list-style-type:none ;
 }

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}